/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: #f3fc16;
}

header, .footer {
    background: rgba(255, 106, 0, 0.5);
}

.home-link {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.navbar a, .custom a {
    padding: 0.5rem;
}

.navbar a:hover, .container a:hover {
        color: #f3fc16;
        text-decoration: none;
 }
.note-cell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 25vw;
}

.light {
    color: #ffffff;
}
/* Provide sufficient contrast against white background */
a {
    color: #1861ac;
}



.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-image: url('/images/blackboard.jpg');
    background-size: cover;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 50px; /* Vertically center the text there */
}

.result {
    margin-top: 1.5em;
}

.principal {
    background: rgba(0, 0, 0, 0.5);
    padding: 1.5rem;
    margin: 1.5rem;
}

.table {
    color: #ffffff;    
}
th,td {
    text-align: center;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #ff6a00;
    color: #ffffff;
}
